<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Find a dog</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="find">
		<div class="container">
			
			<table class="table">
				
			<tbody>
				<tr>
					<th>
						Name
					</th>
					<th>
						Age
					</th>
					<th>
						Gender
					</th>
					<th>
						Breed
					</th>
					<th>
						Size
					</th>
					<th>
						Coat
					</th>
					<th>
						Personality
					</th>
					<th>
						Energy Level
					</th>
					<th>
						Okay with kids
					</th>
					<th>
						Okay with other pets
					</th>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><%= r.name%></td>
					<td><%= r.age%></td>
					<td><%= r.gender%></td>
					<td><%= r.breed%></td>
					<td><%= r.size%></td>
					<td><%= r.coat%></td>
					<td><%= r.personality%></td>
					<td><%= r.energy_level%></td>
					<td><%= r.okay_with_kids%></td>
					<td><%= r.okay_with_other_pets%></td>
				</tr>
				<% }); %>
				</table>

			<!--div class="row">
				<h1>Find a specific type of dog</h1>
			</div>
			
			
			<div class="row">
				<div class="col-md-7">
					<h1>Foster?</h1>
					<a href="/foster"><button type="button">Click here!</button></a>
				</div>
				
				<div class="col-md-3">
					<h1>Adopter?</h1>
					<a href="../adopt"><button type="button">Click here!</button></a>
				</div>
			</div-->
			
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>