<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Find a dog</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="find">
		<div class="container">
			
			<table class="table">
				
			<tbody>
				<tr>
					<th>
						Dog ID
					</th>
					<th>
						Name
					</th>
					<th>
						Age
					</th>
					<th>
						Gender
					</th>
					<th>
						Breed
					</th>
					<th>
						Size
					</th>
					<th>
						Coat
					</th>
					<th>
						Personality
					</th>
					<th>
						Energy Level
					</th>
					<th>
						Shelter
					</th>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><%= r.dog_id%></td>
					<td><%= r.name%></td>
					<td><%= r.age%></td>
					<td><%= r.gender%></td>
					<td><%= r.breed%></td>
					<td><%= r.size%></td>
					<td><%= r.coat%></td>
					<td><%= r.personality%></td>
					<td><%= r.energy_level%></td>
					<td><a href="/shelter/<%= r.shelter_id%>"><%= r.shelter_id%></a></td>
				</tr>
				<% }); %>
			</table>
			
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>