<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>List of all Shelters</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="shelter">
		<div class="container">
			<table class="table">
				
			<tbody>
				<tr>
					<th>
						<a href="/shelter/sort-id">Shelter ID</a>
					</th>
					<th>
						<a href="/shelter/sort-name">Name</a>
					</th>
					<th>
						<a href="/shelter/sort-street">Street</a>
					</th>
					<th>
						<a href="/shelter/sort-city">City</a>
					</th>
					<th>
						<a href="/shelter/sort-state">State</a>
					</th>
					<th>
						<a href="/shelter/sort-zip">Zip</a>
					</th>
					<th>
						<a href="/shelter/sort-phone">Phone</a>
					</th>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><a href="/shelter_dogs/<%= r.shelter_id%>"><%= r.shelter_id%></a></td>
					<td><%= r.shelter_name%></td>
					<td><%= r.street%></td>
					<td><%= r.city%></td>
					<td><%= r.state%></td>
					<td><%= r.zip%></td>
					<td><%= r.phone%></td>
				</tr>
				<% }); %>
			</table>
			
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>