<!DOCTYPE html>
<html>
<head>
	<% include ../partials/nav.ejs %>
	
	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="logo">
				<img src="/logo.png" height="200px" width="200px"/>
			</a>
			<h1>Shelter</h1>
		</div>
	</div>
	
</head>

<body>
	<section id="shelter">
		<div class="container">
			<h1>Shelter</h1>
			<table class="table">
				
			<tbody>
				<tr>
					<th>
						Shelter ID
					</th>
					<th>
						Name
					</th>
					<th>
						Street
					</th>
					<th>
						City
					</th>
					<th>
						State
					</th>
					<th>
						Zip
					</th>
					<th>
						Phone
					</th>
				</tr>
				<% r.some(function(r) {%>
				<tr>
					<td><a href="/shelter_dogs/<%= r.shelter_id%>"><%= r.shelter_id%></a></td>
					<td><%= r.shelter_name%></td>
					<td><%= r.street%></td>
					<td><%= r.city%></td>
					<td><%= r.state%></td>
					<td><%= r.zip%></td>
					<td><%= r.phone%></td>
				</tr>
				<% return true; }); %>
			</table>
			
			<h1>Dogs</h1>
			<table class="table">
				
			<tbody>
				<tr>
					<th>
					<% r.some(function(r) {%>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-id">Dog ID</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-name">Name</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-age">Age</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-gender">Gender</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-breed">Breed</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-size">Size</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-coat">Coat</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-personality">Temperament</a>
					</th>
					<th>
						<a href="/shelter_dogs/<%= r.shelter_id%>/sort-energy">Energy Level</a>
					</th>
					<% return true; }); %>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><%= r.dog_id%></td>
					<td><%= r.name%></td>
					<td><%= r.age%></td>
					<td><%= r.gender%></td>
					<td><%= r.breed%></td>
					<td><%= r.size%></td>
					<td><%= r.coat%></td>
					<td><%= r.personality%></td>
					<td><%= r.energy_level%></td>
				</tr>
				<% }); %>
			</table>
		</div>
		
		
	</section>
</body>
<% include ../partials/footer.ejs %>
</html>